[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = git://github.com/vim-scripts/a.vim.git
[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/genutils"]
	path = bundle/genutils
	url = git://github.com/vim-scripts/genutils.git
[submodule "bundle/grep.vim"]
	path = bundle/grep.vim
	url = git://github.com/vim-scripts/grep.vim.git
[submodule "bundle/lookupfile"]
	path = bundle/lookupfile
	url = git://github.com/vim-scripts/lookupfile.git
[submodule "bundle/Marks-Browser"]
	path = bundle/Marks-Browser
	url = git://github.com/vim-scripts/Marks-Browser.git
[submodule "bundle/mark.vim"]
	path = bundle/mark.vim
	url = git://github.com/bravoGor/mark.vim.git
[submodule "bundle/mkview.vim"]
	path = bundle/mkview.vim
	url = git://github.com/vim-scripts/mkview.vim.git
[submodule "bundle/OmniCppComplete"]
	path = bundle/OmniCppComplete
	url = git://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "bundle/ShowMarks"]
	path = bundle/ShowMarks
	url = git://github.com/vim-scripts/ShowMarks.git
[submodule "bundle/snipMate"]
	path = bundle/snipMate
	url = git://github.com/vim-scripts/snipMate.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/taglist.vim"]
	path = bundle/taglist.vim
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/vim-pandoc"]
	path = bundle/vim-pandoc
	url = git://github.com/vim-pandoc/vim-pandoc.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = git://github.com/vim-scripts/VisIncr.git
[submodule "bundle/winmanager--Fox"]
	path = bundle/winmanager--Fox
	url = git://github.com/vim-scripts/winmanager--Fox.git
[submodule "bundle/xml.vim"]
	path = bundle/xml.vim
	url = git://github.com/othree/xml.vim.git
